.App {
  background-color: rgba(204, 204, 204, 0.801);
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.frontpage-name {
  font-size: large;
  font-weight: 501;
}
.boink {
  border: #282c34 1px dotted;
  width: 100%;
  
}
.leftside {
  flex: 0 0 auto; 
  overflow-y: auto;
  height: 100%;
  width: 15%; 
   
}
@media (max-width: 768px) {
  .leftside {
    width: 35%; 
  }
}


@media (max-width: 480px) {
  .leftside {
    width: 0%; 
  }
}
.blonk {
  background-color: #282c34;
  border: rgb(19, 18, 18) 2px solid;
  height: 90%; 
  width: 96%; 
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
